{{define "head"}}
  <title>{{.Site.Title}} - {{.Post.Title}}</title>
  <link rel="canonical" href="{{.Post.Permalink}}" />
{{end}}
{{define "body"}}
  <div class="container">
    <h1><a href="/">{{.Site.Title}}</a></h1>
    <h2>{{.Post.Title}}</h2>
    <div>{{.Post.Body}}</div>
  </div>
{{end}}
